@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Mulish", serif;
}

.hamburguer {
  /* background-color: red; */
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  left: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer {
  left: 16rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 1s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.3rem, 0.45rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.3rem, -0.45rem);
}

.hamburguer span {
  position: absolute;
  right: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a00e0;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid #4a00e0;
  right: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* desabilita a possibilidade do cabeçalho passar o tamanho da janela, evitando assim uma barra de rolagem horizontal*/
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

/* animação da imagem */
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 30%;
  left: 60%;
}

.banner h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
  font-family: var(--font-secundary);
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  font-family: var(--font-action);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to left, #4a00e0, #8e2de2);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
  animation: moveBanner;
  opacity: 0.8;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  opacity: 0.8;
  left: -20rem;
  transition: all 1s;
  z-index: 99;
}

.show-menu .sidebar {
  left: 0;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu li {
  color: #fff;
}

.menu li a i {
  display: flex;
  justify-content: center;
}

.menu-item {
  text-align: center;
  margin-bottom: 2.5rem;
}

.menu-link {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #4a00e0;
  transition: color 1s;
}

.menu-link:hover {
  color: #8e2de2;
}

/* ABOUT ME*/

/* RESUME */
.resumes {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}

.resume:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.resume:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.resume:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.resume:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.resume:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.resume:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.sessao-resumes {
  background-color: #f5f5f5;
}

.sessao-header {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1rem;
}

.resume-header {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}

.resume-header i {
  font-size: 2.5rem;
}

.resume-header h3 {
  font-family: var(--font-secundary);
  font-size: 2rem;
  padding-left: 1rem;
}

.resume-text {
  font-family: var(--font-secundary);
  margin-top: 1rem;
}

.resumes-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 3 /5;
  width: 100%;
}

.resumes-img-wrapper img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
}

.portfolios {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 18rem;
  height: 25rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.3;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2em 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-secundary);
  font-weight: bolder;
  color: #ff4081;
  margin-bottom: 1.5rem;
}

.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  width: 80%;
  margin-bottom: 2rem;
}

.btn {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to left, #4a00e0, #8e2de2);
  font-family: var(--font-action);
  color: #eee;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.card-info button {
  width: 8rem;
  height: 2.5rem;
}

.card-info button:hover,
.btn-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sessao-contato {
  margin-top: 1rem;
  width: 100%;
  height: 100vh;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato-wrapper {
  width: 60%;
  height: 40rem;
  display: flex;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.contato-left {
  width: 35%;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(25, 25, 25, 0.9)),
    url(images/contato.jpg);
  background-size: cover;
}

.contato-right {
  width: 65%;
  background-color: #eee;
  padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1 {
  width: 100%;
  text-align: center;
  font-family: var(--font-primary);
  color: #272727;
  font-size: 3rem;
  font-weight: lighter;
}

.sessao-contato form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
}

.field {
  background: transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  border-bottom: 2px dashed #636363;
  height: 3rem;
  outline: none;
  margin: 1rem 0;
}

.input-group textarea {
  padding-top: 1rem;
  max-width: 20rem;
  max-height: 7rem;
  min-height: 2rem;
}

.field-label {
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: 1.2rem;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  transition: all 0.3s;
}

.field:focus ~ label {
  top: 0;
  font-size: 1rem;
}

.field:focus {
  border-bottom: 1px solid;
}

.btn-submit {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 50%;
  height: 2rem;
  margin-top: 1rem;
}

.social-media {
  margin-top: 5rem;
  font-size: 2rem;
}

.social-media .media i {
  padding: 1rem;
  color: #4a00e0;
}

.social-media .media i:hover {
  text-shadow: 4px 4px 15px #8e2de2;
}
